.about{
  justify-content: start;
  gap: 3rem;
  &__title{
    position: relative;
    display: flex;
    padding: 3rem 0;
  }
  &__content{
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    gap: 7.5rem;
    align-items: center;
    &__img{
      height: auto;
      width: 27rem;
      border-radius: 20rem;
    }
    &__text{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 70%;
      align-items: start;
      justify-content: center;
      &__title{
        padding: 2rem 0;
      }
      &__p{
        padding: 1rem 0;
        text-align: justify;
      }
    }
  }
}