.home{
    justify-content: center;
    &__title{
        position: relative;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        &__span{
            font-family: 'Otto Attac Type', sans-serif;
            text-transform: Uppercase;
            font-weight: bolder;
            font-size: 6rem;
            &--first{
                color: var(--secondary-color);
            }
            &--second{
                color: var(--primary-color);
            }
        }
    }
}