body{
    font-family: 'Hagrid Trial', sans-serif;
    font-size: 8px;
    color: var(--font-color);
    text-decoration: none;
}

h1{
    font-size: 5rem;
    font-weight: 600;
}

h3{
    font-family: 'Otto Attac Type', sans-serif;
    font-weight: 600;
    color: var(--primary-color);
}

a{
    text-decoration: none;
    color: var(--font-color);
}
 
@media screen and (min-width: 425px) and (max-width: 768px){
    body{
        font-size: 12px; //Small
    }
}

@media screen and (min-width: 768px) and (max-width: 1440px){
    body{
        font-size: 16px; //Mid
    }
}

@media screen and (min-width: 1440px) and (max-width: 2560px){
    body{
        font-size: 18px; //Mid
    }
}

@media screen and (min-width: 2560px){
    body{
        font-size: 24px; //Big
    }
}