.button{
    box-sizing: border-box;
    position: relative;
    display: flex;
    height: fit-content;
    width: fit-content;
    font-family: 'Hagrid Trial', sans-serif;
    font-size: 1.2rem;
    color: var(--bg-color);
    background-color: var(--primary-color);
    padding: .7rem 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .6s .4s ease-in-out;
    &::before {
        position: absolute;
        content: '';
        top: -20px;
        left: -20px;
        right: -20px;
        bottom: -20px;
        border-radius: 20px;
        background-color: inherit;
        z-index: -1;
        transform: scale3d(0.7, 0.5, 1);
        opacity: .4;
    }
    &:hover{
        background-color: var(--font-color);
        animation: anim-moema-1 .6s forwards;
        &::before{
            animation: anim-moema-2 .6s .4s forwards;
        }
    }
    &:active{
        transition: .2s ease-in-out;
    }
}

@keyframes anim-moema-1 {
    60% {
        transform: scale3d(0.8, 0.8, 1);
    }
    85% {
        transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-moema-2 {
    to {
        opacity: 0;
        transform: scale3d(1, 1, 1);
    }
}
