@keyframes svgSend {
  from{
    transform: translateY(-50%) rotate(0) translateX(0);
  }
  to{
    transform: translateY(-50%) rotate(0) translateX(300%);
  }
}

@keyframes spinningLoaderG1 {
    0%{
      transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

@keyframes spinningLoaderG2 {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes spinningLoaderG3 {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}

@keyframes spinningLoaderG4 {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}