@font-face {
  src: url('../public/fonts/OTTOATTACTYPE.ttf');
  font-family: 'Otto Attac Type';
}

@font-face {
  src: url("../public/fonts/TT Travels Trial Medium.otf");
  font-family: 'Travels Trial';
}

@import "utils/colors";
@import "utils/keyframes";

@import "config/reset";
@import "config/typo";
@import "config/base";

@import "components/button";
@import "components/loader";

@import "layout/navbar";
@import "layout/head";
@import "layout/form";

@import "view/home";
@import "view/about";
@import "view/projects";
@import "view/contact";