@font-face {
  @import url('../public/fonts/Hagrid-Regular-trial.ttf');
  font-family: 'Hagrid Trial';
  font-weight: normal;
}

@font-face {
  @import url('../public/fonts/OTTOATTACTYPE.ttf');
  font-family: 'Otto Attac Type';
  font-weight: 600;
}

@import "utils/colors";

@import "config/reset";
@import "config/typo";
@import "config/base";

@import "layout/navbar";
@import "layout/head";

@import "view/home";