@font-face {
  src: url("/fonts/OTTOATTACTYPE.ttf");
  font-family: 'Otto Attac Type';
}

@font-face {
  src: url("fonts/Geomanist-Regular.otf");
  font-family: 'Geomanist';
}

@import "assets/style/colors";
@import "assets/style/keyframes";

@import "assets/style/reset";
@import "assets/style/typo";
@import "assets/style/base";

@import "components/button/button";
@import "components/loader/loader";

@import "components/header/head";
@import "components/navbar/navbar";
@import "components/footer/footer";
@import "components/form/form";

@import "assets/style/page";
@import "pages/home/home";
@import "pages/about/about";
@import "pages/projects/projects";
@import "pages/contact/contact";