@font-face {
  src: url("/fonts/OTTOATTACTYPE.ttf");
  font-family: 'Otto Attac Type';
}

@font-face {
  src: url("fonts/Geomanist-Regular.otf");
  font-family: 'Geomanist';
}

@import "utils/colors";
@import "utils/keyframes";

@import "config/reset";
@import "config/typo";
@import "config/base";

@import "components/button";
@import "components/loader";

@import "layout/head";
@import "layout/navbar";
@import "layout/footer";
@import "layout/form";

@import "view/page";
@import "view/home";
@import "view/about";
@import "view/projects";
@import "view/contact";