.footer{
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 2rem 20rem;
  &__link{
    text-decoration: none;
    &__svg{
      height: 3rem;
      width: 3rem;
      opacity: .5;
      transition: opacity .4s ease-in;
      &--primary {
        fill: var(--primary-color);
        stroke: var(--primary-color);
      }
      &--bg{
        fill: var(--bg-color);
        stroke: var(--primary-color);
      }
      &:hover{
        opacity: 1;
      }
    }
  }
}