.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  width: 55vw;
  border-radius: 10px;
  padding: 0 2rem;
  border: dashed 1px var(--primary-color-05);
  &__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    &__label {
      text-transform: uppercase;
    }
    &__input {
      padding: .5rem;
      border-radius: 5px;
      border: solid 1px var(--primary-color);
      transition: .4s;
      &:focus {
        outline: none;
        border: solid 1px var(--primary-color-05);
      }
    }
    &__textarea {
      height: 10rem;
      resize: none;
      padding: .5rem;
      border-radius: 5px;
      border: solid 1px var(--primary-color);
      transition: .4s;
      &:focus {
        outline: none;
        border: solid 1px var(--primary-color-05);
      }
    }
  }
}