.head{
  position: fixed;
  display: flex;
  align-content: center;
  width: 100%;
  padding: 1rem 2rem;
  border-bottom: 1px dashed var(--primary-color-05);
  &__title{
    display: none;
    position: relative;
    flex: 1;
    span{
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: 1440px) and (max-width: 2560px){
    .head{
        &__title{
          display: block;
        }
    }
}