.navbar{
    display: flex;
    position: fixed;
    bottom: 0;
    align-items: center;
    width: 100vw;
    padding: 1rem;
    background-color: $color-white;
    border-top: 1px solid $color-green;
    &__list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 1;
        &__item{    
            text-align: center;
        }
    }
    &__title{
        text-align: center;
        flex: 1;
    }
}


@media screen and (min-width: 768px){
    .navbar{
        height: fit-content;
        top: 0;
    }
}